/* contact us style */
:root{
  --color:#000;
  --font-family:Acme;
  --font-familyPhilosopher:Philosopher;
}
h5 ,h2{
  font-family: var(--font-family);
}
.contact-details p{
  font-family: var(--font-familyPhilosopher);
}
.contact-us{
  padding: 180px 0px 0px 0px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.contact-details{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.contact-details .itemm{
  margin: 30px;
  padding: 30px;
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.map{
  width: 100%;
  margin-top: 110px;
}
.map img{
  width: 100%;
}
.socials{
  display: flex;
  flex-direction: row;
}
.socials img{
  width: 20px;
  margin-left: 20px;
}
.get-touch{
  font-family:Philosopher;
}
.get-touch p{
  line-height: 30px;
}
.p2{
  color: rgb(211, 131, 11);
  line-height: 30px;
}
.inputs{
  display: flex;
  gap: 10px;
  margin-top: 50px;
}

.contact-us__btn{
  border: 1px solid saddlebrown;
  padding: 10px;
  background-color: transparent;
  width: 100%;
  font-weight: bolder;
  font-family: var(--font-family);
  text-transform: uppercase;
  margin-top: 30px;
}
.contact-us__btn:hover{
  background-color: saddlebrown;
  color: #fff;
}
.contactForm{
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.contactForm input{
  border-radius: 10px;
  padding: 10px;
  border: 1px solid lightgray;
  width: 350px;
  outline: none;
}
.sub{
  height: 100px !important;
}
/* media query */
/* Mobile : 375px => 768px */
@media screen and (min-width:100px) and (max-width:375px) {
  .contact-details{
    grid-template-columns: repeat(1,1fr);
  }
  .inputs{
    flex-direction: column;
    width: 100%;
  }
  .contact-us__btn{
    width: 100%;
  }
  .map{
    margin-top: 80px;
  }
  .map img{
    height: 230px;
  }
}
@media screen and (min-width:375px) and (max-width:767px) {
  .contact-details{
    grid-template-columns: repeat(1,1fr);
  }
  .inputs{
    flex-direction: column;
    width: 100%;
  }
  .contact-us__btn{
    width: 100%;
  }
  .map{
    margin-top: 80px;
  }
  .map img{
    height: 230px;
  }
}
/* tablet : 768px => 1024px */
@media screen and (min-width:768px) and (max-width:1024px) {
  .inputs{
    flex-direction: column;
    width: 100%;
  }
  .contact-us__btn{
    width: 100%;
  }
}
/* laptop : 1024px => 1440px */
@media screen and (min-width:1024px) and (max-width:1440px){
  
}
