/* cart style */
:root{
  --color:#000;
  --font-family:Acme;
  --font-familyPhilosopher:Philosopher;
}
.cart{
  padding: 100px 0px 50px 0px;
}
.cart__element{
  box-shadow: 1px 1px 1px 1px  gray;
  padding: 30px;
  max-width: 75%;
  margin: auto;
}
.delete-div{
  width: 10%;
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}
.delete-div img{
  display: none;
}
.cart-list__items:hover img{
  display: flex;
}

/* end of cart style  */


/* media query */
/* Mobile : 375px => 768px */
@media screen and (min-width:100px) and (max-width:375px) {
  .cart{
    padding: 100px 0px 50px 0px;
  }
  .cart__element{
    max-width:85%;
  }
  .product-image{
    width: 100%;
    height: 200px;
  }
  .cart-list__items{
    flex-direction: column;
  }
  .contiune-shopping{
    text-align: center;
  }
  .price , .quantity{
    font-size: 25px;
  }
  .delete-div img{
    display: none;
  }
  .delete-div{
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .cart-list__items:hover img{
    display: flex;
  }
  .alert-message {
    left: 50%; 
  }
  .alert-deletemessage{
    left: 50%; 
  }
}
@media screen and (min-width:375px) and (max-width:767px) {
  .cart{
    padding: 100px 0px 50px 0px;
  }
  .cart__element{
    max-width: 85%;
  }
  .product-image{
    width: 100%;
    height: 200px;
  }
  .cart-list__items{
    flex-direction: column;
  }
  .contiune-shopping{
    text-align: center;
  }
  .price , .quantity{
    font-size: 25px;
  }
  .delete-div img{
    display: none;
  }
  .delete-div{
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .cart-list__items:hover img{
    display: flex;
  }
  .alert-message {
    left: 50%; 
  }
  .alert-deletemessage{
    left: 50%; 
  }
}
/* tablet : 768px => 1024px */
@media screen and (min-width:768px) and (max-width:1024px) {
  .product-image{
    width: 90px;
    height: 90px;
  }
  .cart{
    padding: 100px 0px 50px 0px;
  }
  .cart__element{
    box-shadow: 1px 1px 1px 1px  gray;
    padding: 30px;
    max-width: 90%;
    margin: auto;
  }
  .delete-div{
    width: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
  }
  .delete-div img{
    display: none;
  }
  .cart-list__items:hover img{
    display: flex;
  }
}
/* laptop : 1024px => 1440px */
@media screen and (min-width:1024px) and (max-width:1440px){

}
