


/* tablet : 768px => 1024px */
@media screen and (min-width:768px) and (max-width:1024px) {
  .list{
    gap: 20px;
    justify-content:end;
    align-items: end;
    margin-right: 10px;
  }
  .cart-btn{
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .header h1{
    margin-top: 30px;
  }
  .blog{
    max-width:100%;
    margin: auto;
    padding:15px;
  }
  .blog img{
    width: 350px;
  }
  .blog__text{
    margin-left: 20px;
  }
  .inspire__items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    gap:20px;
  }
  .inspire__items img{
    width: 330px;
  }
  .footer{
    padding: 50px 30px 10px 30px;
  }
}
/* laptop : 1024px => 1440px */
@media screen and (min-width:1024px) and (max-width:1440px){
  .list{
    gap: 20px;
    justify-content:end;
    align-items: end;
    margin-right: -50px;
  }
}
